@model Domain.Diffie

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Diffie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PrivateKeyA" class="control-label"></label>
                <input asp-for="PrivateKeyA" class="form-control" />
                <span asp-validation-for="PrivateKeyA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrivateKeyB" class="control-label"></label>
                <input asp-for="PrivateKeyB" class="form-control" />
                <span asp-validation-for="PrivateKeyB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModulusP" class="control-label"></label>
                <input asp-for="ModulusP" class="form-control" />
                <span asp-validation-for="ModulusP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaseG" class="control-label"></label>
                <input asp-for="BaseG" class="form-control" />
                <span asp-validation-for="BaseG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicKey" class="control-label"></label>
                <input asp-for="PublicKey" class="form-control" />
                <span asp-validation-for="PublicKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SharedKey" class="control-label"></label>
                <input asp-for="SharedKey" class="form-control" />
                <span asp-validation-for="SharedKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
